<h1> Exercice 1 </h1>


Vous travaillez dans une entreprise de vente en ligne. Vous avez reçu des données de ventes journalières pour différents produits, réparties sur plusieurs listes. Votre tâche est de consolider ces données dans un DataFrame pour une analyse ultérieure.

1) Créez un DataFrame pandas à partir de ces listes
2) Définissez la colonnes products en tant qu'index
3) affichez les données de la ligne correspondant au prodit "keyboard"
4) Réinitialisez finalement l'index de votre dataframe

In [ ]:
dates = ['2023-01-01', '2023-01-01', '2023-01-02', '2023-01-02']
products = ['Keyboard', 'Mouse', 'Monitor', 'Mouse']
quantities = [3, 5, 2, 3]
unit_prices = [79.99, 25.50, 199.99, 25.50]

In [ ]:
#1

In [ ]:
#2

In [ ]:
#3

In [ ]:
#4

<h1> Exercice 2 </h1>

vous devez importer un fichier CSV "products_exercices.csv" contenant des données de produits pour une analyse ultérieure. Le fichier CSV a des spécificités que vous devez prendre en compte lors de l'importation : 
- Ignorez la première ligne du fichier qui est un commentaire.
- Utilisez le caractère séparateur ,.
- Les valeurs null sont représentées par la chaîne "Vide".
- Définissez la colonne product_id comme index du DataFrame.
- Importez uniquement les colonnes products, category, et price et ignorez les autres colonnes.

Extrait du fichier : 

//Ceci est un commentaire à ignorer <br>
product_id,products,category,price,stock <br>
1,Keyboard,Electronics,Vide,45 <br>
2,Mouse,Electronics,29.99,150 <br>
3,Monitor,Vide,199.99,Vide <br>
4,Desk,Furniture,149.99,30

<h1> Exercice 3 </h1>

Vous travaillez pour une entreprise qui reçoit régulièrement des données de clients au format JSON. Les données sont structurées avec un objet parent nommé data, contenant une liste d'objets représentant les informations des clients. Votre tâche est d'importer ces données dans un DataFrame pour analyse et de les exporter en format JSON pour une utilisation ultérieure.

1) Importez les données JSON de clients_exercices.json dans un DataFrame pandas. Assurez-vous de cibler l'objet data qui contient les informations nécessaires.
2) Exportez le DataFrame résultant en un nouveau fichier JSON.

In [ ]:
#1

In [ ]:
#2

In [1]:
import pandas as pd

In [3]:
pd.set_option('display.max.rows', None)
pd.set_option('display.max.columns', None)

In [13]:
data = pd.read_csv('products_exercices.csv')
df = data.copy()

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 5 entries, ('product_id', 'products', 'category', 'price') to ('4', 'Desk', 'Furniture', '149.99')
Data columns (total 1 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   //Ceci est un commentaire à ignorer  5 non-null      object
dtypes: object(1)
memory usage: 964.0+ bytes

In [17]:
df['//Ceci est un commentaire à ignorer']

product_id  products  category     price     stock
1           Keyboard  Electronics  Vide         45
2           Mouse     Electronics  29.99       150
3           Monitor   Vide         199.99     Vide
4           Desk      Furniture    149.99       30
Name: //Ceci est un commentaire à ignorer, dtype: object

In [23]:
del df['//Ceci est un commentaire à ignorer']

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 5 entries, ('product_id', 'products', 'category', 'price') to ('4', 'Desk', 'Furniture', '149.99')
Empty DataFrame

In [35]:
df

Empty DataFrame
Columns: []
Index: [(product_id, products, category, price), (1, Keyboard, Electronics, Vide), (2, Mouse, Electronics, 29.99), (3, Monitor, Vide, 199.99), (4, Desk, Furniture, 149.99)]

In [37]:
df['price']

KeyError: 'price'